#HUD{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	z-index: 1;
	
	//common bar rules
	.health-bar, .throttle-bar, .pitch-bar, .heat-bar{
		float: left;
		position: relative;
		margin-left: 10px;
		border: solid 1px gray;
		text-align: center;
		
		> span{
			position: absolute;
			left: 0px;
			right: 0px;
			font-size: 13px;
			margin-top: 2px;
			color: #013243;
			z-index: 1;
		}
		
		.current{
			height: 100%;
			opacity: 0.8;
		}
	}
	
	.health-bar, .throttle-bar{
		height: 20px;
		width: 140px;
	}
	
	.pitch-bar{
		width: 25px;
		height: 80px;
		
		> span{
			position: absolute;
			height: 100%;
			left: 5px;
			writing-mode: vertical-lr;
			text-orientation: upright;
		}
		
		.current{
			position: absolute;
			bottom: 0px;
			width: 100%;
			border-top: solid 2px blue;
		}
	}
	
	.heat-bar{
		position: absolute;
		margin-top: 30px;
		width: 292px;
		height: 20px;
	}
	
	.loaded-bombs{
		position: absolute;
		margin-top: 60px;
		margin-left: 10px;
		
		img{
			width: 36px;
			opacity: 0.4;
			
			&:not(:first-child){
				margin-left: 10px;
			}
			
			&.loaded{
				opacity: 1;
			}
		}
	}
	
	.civilians-status{
		position: absolute;
		right: 0px;
		margin-right: 10px;
		max-width: 470px;
		text-align: right;
		
		img{
			width: 24px;
			vertical-align: top;
			
			&.dead{
				opacity: 0.4;
			}
		}
	}
}