#HUD{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	z-index: 999;
	
	.health-bar, .throttle-bar{
		float: left;
		position: relative;
		margin-left: 10px;
		width: 140px;
		height: 20px;
		border: solid 1px gray;
		text-align: center;
		
		> span{
			position: absolute;
			left: 0px;
			right: 0px;
			font-size: 13px;
			margin-top: 2px;
			color: #013243;
			z-index: 1;
		}
		
		.current{
			height: 100%;
			opacity: 0.8;
		}
	}
}