#HUD{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	z-index: 999;
	
	//horizontal bars
	.health-bar, .throttle-bar{
		float: left;
		position: relative;
		margin-left: 10px;
		width: 140px;
		height: 20px;
		border: solid 1px gray;
		text-align: center;
		
		> span{
			position: absolute;
			left: 0px;
			right: 0px;
			font-size: 13px;
			margin-top: 2px;
			color: #013243;
			z-index: 1;
		}
		
		.current{
			height: 100%;
			opacity: 0.8;
		}
	}
	
	//vertical bar
	.pitch-bar{
		float: left;
		position: relative;
		margin-left: 10px;
		width: 25px;
		height: 80px;
		border: solid 1px gray;
		text-align: center;
		
		> span{
			position: absolute;
			height: 100%;
			top: 0px;
			left: 5px;
			writing-mode: vertical-lr;
			text-orientation: upright;
			font-size: 13px;
			color: #013243;
			z-index: 1;
		}
		
		.current{
			position: absolute;
			bottom: 0px;
			width: 100%;
			border-top: solid 2px blue;
			opacity: 0.8;
		}
	}
}