* {
	margin: 0px;
	padding: 0px;
}

#container{

	.background-container{
		height: 600px;
		width: 60000px; //maybe this should be configurable
		background-image: url("../../img/levels/grassland.jpg");
		background-size: contain;
	}
	
	.controls-container{
		display: none;
		position: fixed;
		background-color: #e0e0e0;
		
		.controls{
			width: 800px;
			height: 150px;
			margin: auto;
			
			@media (max-width: 800px){
				width: 100%;
			}
		}
	}
}
