* {
	margin: 0px;
	padding: 0px;
}

.game-object{
	cursor: pointer;
}

#container{
	$controls-height: 100px;

	.background-container{
		height: 768px;
		width: 60000px; //maybe this should be configurable
		background-image: url("../../img/levels/grassland.jpg");
		background-size: contain;
	}

	.controls-container{
		display: none;
		position: fixed;
		background-color: #e0e0e0;

		.controls{
			width: 800px;
			height: $controls-height;
			margin: auto;
			padding: 10px;

			@media (max-width: 800px){
				width: 100%;
			}

			.section{
				display: inline-block;
				padding: 0px 10px;
				vertical-align: top;
				height: $controls-height;
				
				+ .section{
					border-left: solid 1px #c6c6c6;
				}

				.item{
					display: block;
					margin-bottom: 10px;

					.label{
						display: block;
						margin-bottom: 2px;
						font-size: 18px;
						font-weight: bold;
					}

					select{
						padding: 5px;
					}
					
					/*
					.game-object{
						cursor: pointer;
						
						img{
							width: 75.44%; //calculated using the background image size and the background-container size
						}
					}
					*/

				}
			}

		}
	}
}
