* {
	margin: 0px;
	padding: 0px;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border: 0;
}

#container{
	$controls-height: 100px;
	$background-container-height: 768px;
	font-family: "Arial";

	.background-container{
		height: $background-container-height;
		width: 60000px; //maybe this should be configurable
		background-image: url("../../img/levels/grassland.jpg");
		background-size: contain;

		.game-object{
			position: absolute;
			cursor: move;
			border: dashed 1px transparent;

			.remove-btn{
				display: none;
				position: absolute;
				top: -7px;
				right: -7px;
				width: 20px;
				height: 20px;
				cursor: pointer;
			}

			&:hover{
				border-color: #000000;

				.remove-btn{
					display: block;
				}
			}
		}
	}

	.controls-container{
		display: none;
		position: fixed;
		width: 250px;
		height: $background-container-height;
		top: 0px;
		right: 0px;
		background-color: rgba(0, 0, 0, 0.4);
		color: #ffffff;

		.controls{
			padding: 0px 10px;

			.section{

				+ .section{
					border-top: solid 1px #c6c6c6;
				}

				.item{
					margin-bottom: 10px;

					&.inline-block{
						display: inline-block;

						+ .item{
							margin-left: 10px;
						}
					}

					.label{
						display: block;
						margin-top: 5px;
						margin-bottom: 5px;
						font-size: 14px;
						font-weight: bold;
						text-align: center
					}

					select{
						padding: 5px;
					}

					.game-object{
						display: inline-block;
						cursor: move;

						img{
							max-width: 230px;
						}
					}
				}

				&.load-level{
					
					select{
						width: 100%;
					}
					
					.delete-level-button{
						width: 100%;
						margin-top: 5px;
						padding: 5px;
						color: #ffffff;
						font-weight: bold;
						border: none;
						border-radius: 3px;
						cursor: pointer;
						background-color: #d9534f;
						box-shadow: #515151 1px 1px;

						&:hover{
							background-color: #c9302c;
						}
					}
					
				}

				&.save-level{
					
					.save-level-button{
						width: 100%;
						padding: 5px;
						color: #ffffff;
						font-weight: bold;
						border: none;
						border-radius: 3px;
						cursor: pointer;
						background-color: #1aa72b;
						box-shadow: #515151 1px 1px;

						&:hover{
							background-color: #10831e;
						}
					}

					.level-name{
						margin-top: 5px;
						width: 100%;
						box-sizing: border-box; 
						height: 28px;
						padding: 0px 5px;
						font-size: 14px;
					}
				}
			}
			
			.main-menu-button{
				display: block;
				padding: 5px 15px;
				position: absolute;
				bottom: 10px;
				right: 10px;
				background-color: #007bff;
				font-size: 13px;
				font-weight: bold;
				text-decoration: none;
				color: #ffffff;
				border-radius: 3px;
				box-shadow: #515151 1px 1px;
				
				&:hover{
					background-color: #0069d9;
				}
			}
		}
	}
}
